.App {
  display: flex;
  background-color: grey
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Sidebar {
  display: flex;
  height: 100vh;
  width: 30vw;
  background-color: darkgreen;
  padding: 25px;
}

.Sidebar-Search {
/* flex & search bar is a little wild */
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
